<section id="home" class="landing">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="hero-info">
					<h1>I'M</h1>
					<h1>AKSHAY DURGE</h1>
					<h3>WEB DEVELOPER</h3>
				</div>
			</div>
			<div  class="col-sm-4">
				
			</div>
		</div>
	</div>
</section>
<section id="about" class="shadow landing">
	<div class="container">
		<p>Hi I'M A Web Developer & looking forward to become a full stack developer as I am a lover of learning & always want challenging tasks which will improve my skills. </p>
		<button class="btn cta">Download Resume</button>
	</div>
</section>
<section id="expertise">
	<div class="container">
		<h2 class="title blk">Expertise</h2>
		<div class="hero_grid">
			<div class="row">
				<div class="col-sm-4">
					<div class="expertise_block">
						<i class="fa fa-diamond"></i>
						<h4>Ideas</h4>
						<p>
							I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="expertise_block">
						<i class="fa fa-magic"></i>
						<h4>UI / UX</h4>
						<p>
							I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="expertise_block">
						<i class="fa fa-code"></i>
						<h4>Code</h4>
						<p>
							I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with css frameworks like Bootstrap too.
						</p>
					</div>
				</div>			
			</div>
		</div>
	</div>
</section>
<section id="experience">
	<div class="container">
		<div class="layer"></div>
		<div class="row example-centered">
	        <div class="col-md-12">
	            <h2 class="title">Experience</h2>
	        </div>
	        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
	            <ul class="timeline timeline-centered">
	                <li class="timeline-item">
	                    <div class="timeline-info">
	                        <span>August 2015<br> - Present</span>
	                    </div>
	                    <div class="timeline-marker"></div>
	                    <div class="timeline-content">
	                        <h3 class="timeline-title">TechBulls SoftTech</h3>
	                        <h4>Software Developer</h4>
	                        <p>Working with start up gives me a chance to work on a variety of good technologies, more responsibility & opportunities. Worked in an awesome atmosphere.</p>
	                    </div>
	                </li>
	                <li class="timeline-item">
	                    <div class="timeline-info">
	                        <span>August 2014<br> - May 2015</span>
	                    </div>
	                    <div class="timeline-marker"></div>
	                    <div class="timeline-content">
	                        <h3 class="timeline-title">TechnoWings</h3>
	                        <h4>Software Developer</h4>
	                        <p>Making B.E. & M.E. college projects. Learn different technologies & hands on Java Standalone & Web based Applications.</p>
	                    </div>
	                </li>
	                <li class="timeline-item period">
	                    <div class="timeline-info"></div>
	                    <div class="timeline-marker"></div>
	                    <div class="timeline-content">
	                        <h2 class="timeline-title">EDUCATION</h2>
	                    </div>
	                </li>
	                <li class="timeline-item">
	                    <div class="timeline-info">
	                        <span>June 2015</span>
	                    </div>
	                    <div class="timeline-marker"></div>
	                    <div class="timeline-content">
	                        <h3 class="timeline-title">MCA</h3>
	                        <p>Sinhagad College</p>
	                        <p>University of Pune</p>
	                        <p>73.38%</p>
	                    </div>
	                </li>
					<li class="timeline-item">
	                    <div class="timeline-info">
	                        <span>April 2013</span>
	                    </div>
	                    <div class="timeline-marker"></div>
	                    <div class="timeline-content">
	                        <h3 class="timeline-title">BCS</h3>
	                        <p>MVLU College</p>
	                        <p>University of Mumbai</p>
	                        <p>54.75%</p>
	                    </div>
	                </li>                
	                <li class="timeline-item">
	                    <div class="timeline-info">
	                        <span>February 2010</span>
	                    </div>
	                    <div class="timeline-marker"></div>
	                    <div class="timeline-content">
	                        <h3 class="timeline-title">HSC</h3>
	                        <p>D.P. Mehta College</p>
	                        <p>University of Pune</p>
	                        <p>45.67%</p>
	                    </div>
	                </li>
					<li class="timeline-item">
	                    <div class="timeline-info">
	                        <span>March 2008</span>
	                    </div>
	                    <div class="timeline-marker"></div>
	                    <div class="timeline-content">
	                        <h3 class="timeline-title">SSC</h3>
	                        <p>Dr.B.N. Purandare High School</p>
	                        <p>University of Pune</p>
	                        <p>67.38%</p>
	                    </div>
	                </li>                
	            </ul>
	        </div>
	    </div>
	</div>
</section>
<!-- <section id="work">
	<div class="container">
		<h2 class="title blk">Work</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class="expertise_block">
					<i class="fa fa-diamond"></i>
					<h4>Ideas</h4>
					<p>
						I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="expertise_block">
					<i class="fa fa-magic"></i>
					<h4>UI / UX</h4>
					<p>
						I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="expertise_block">
					<i class="fa fa-code"></i>
					<h4>Code</h4>
					<p>
						I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with css frameworks like Bootstrap too.
					</p>
				</div>
			</div>			
		</div>
	</div>
</section> -->
<!-- <section id="personal_projects">
	<div class="container">
		<h2 class="title blk">Personal Projects</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class="expertise_block">
					<i class="fa fa-diamond"></i>
					<h4>Ideas</h4>
					<p>
						I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="expertise_block">
					<i class="fa fa-magic"></i>
					<h4>UI / UX</h4>
					<p>
						I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="expertise_block">
					<i class="fa fa-code"></i>
					<h4>Code</h4>
					<p>
						I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with css frameworks like Bootstrap too.
					</p>
				</div>
			</div>			
		</div>
	</div>
</section> -->
<section id="contact">
	<div class="container">
		<h2 class="title blk">Want to work together?</h2>
		<div class="hero_content">
			<p>I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it.</p>
			<button class="btn cta">Get Started</button>
		</div>
	</div>
</section>
<footer>
	<p>Develop by me © 2017</p>
	<div class="social_links">
		<a href="https://www.linkedin.com/in/akshay-durge"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		<a href="https://github.com/akshay-durge"><i class="fa fa-github" aria-hidden="true"></i></a>
	</div>
</footer>