
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="hero-info">
					<h1>I'M</h1>
					<h1>AKSHAY DURGE</h1>
					<h3>WEB DEVELOPER</h3>
				</div>
			</div>
			<div  class="col-sm-4">
				
			</div>
		</div>
	</div>
</section>
<section id="about" class="shadow">
	<div class="container">
		<p>Hello I'M A Web Developer & looking forward to become a full stack developer as I am a lover of learning & always want challenging tasks which will improve my skills. </p>
		<button class="btn cta">Download Resume</button>
	</div>
</section>
<section id="">
	
</section>